<div class="result">
	<div class="result_header">
		<span class="correct_count">只有<span><%= score.num %></span>个人猜对</span>
		<span class="result_time_to_close">倒计时：5</span>
		<div class="correct_answer">答案：<span>【<%= score.word %>】</span></div>
		<ul class="result_tool cf">
			<li class="result_egg icon"></li>
			<li class="result_flower icon"></li>
			<li class="result_shoe icon"></li>
		</ul>
	</div>
	<div class="result_footer">
		<div class="download_result_img">下载美图</div>
	</div>
</div>